<h1>投稿一覧</h1>
<div class="container">
    <ul>
        <% @trainingposts.each do |trainingpost| %>
            <li><%= link_to trainingpost.id, trainingpost %><%= trainingpost.content %></li>
            <%= render 'favorites/like_button', trainingpost: trainingpost %>
        <% end %>
        
    </ul>
</div>